html,body{overflow-x:hidden;}

@font-face {
  font-family:themixarab;
  src:url('fonts/Alhadari Bold.ttf');
}
@font-face {
  font-family:themixarab;
  src:url('fonts/themixarab.ttf');
}

.portfolio-single .title {font-family: 'Alhadari Bold', sans-serif;}
.home{direction:rtl;}
body{font-family: 'themixarab', sans-serif;text-align:right;}
h1,h2,h3,h4,h5,h6,a,p,{font-family: 'themixarab', sans-serif!important;}
.owl-carousel{direction:ltr;}
.pull-left{float:right!important;}
.pull-right{float:left!important;}
.navbar-nav > li {
    float: right;
}
.dashboard-sidebar{right:0;left:auto;}
.list-view{direction:rtl;}
.vendor-meta-item {
    padding: 10px 26px 10px 0px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    line-height: 1.6;
}
.dashboard-content {text-align:center;
    margin-right: 330px;
    margin-left: 44px;
}
.dashboard-content .card-body{text-align:center;direction:ltr;}
.no-padding-right {
    padding-left: 0px !important;
}
.f-right {
    float: left !important;
}
.f-left {
    float: right !important;
}
.col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left:auto!important;
}
.col-md-offset-1 {
    margin-right: 8.33333333%!important;
    margin-left: auto!important;
}
.text-left{text-align:right!important;}

.header,.vendor-categories-overlay{direction:rtl;}
.dropdown-menu{right:0;left:auto;}
.vendor-categories-title {
    color: #fff;
    float: right;
    display: inline-block;
}
.vendor-categories-numbers {
    float: left;}

	.page-breadcrumb ,.vendor-content,.real-wedding-content,.social-media-block,.footer{direction:rtl;text-align:right;}
	.venue-categories-overlay{right:14px;left:auto;}
	.social-icons {
    float: left;}
	.d-flex .fas{padding:0px 0px 0px 20px;}
	
	.navbar-classic .dropdown-toggle::after{float:left;margin-left:15px;margin-right:3px;color:#000;}
	.ml-auto, .mx-auto {
    margin-right: auto!important;
}
.bg-white {
    direction: rtl;}
.page-title{text-align:right;}
.navbar-classic .navbar-nav .nav-item {
    text-align: right;
}
.social-icons {
    float: right;
}
.dashboard-list-block{direction:rtl;}
.list-group,.dashboard-list-content {
    direction: rtl;}
	.mr-2, .mx-2 {
    margin-left: .5rem!important;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: -11px;}
.float-right {
    float:left!important;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;left:auto;
    right: 0.5rem;}
	.custom-control-label {
    padding-right: 40px;
    margin-bottom: 0;
}
.venue-highlights>.table-responsive>.table-bordered {
    direction: rtl;}
	.card-body {
    direction: rtl;}
.dropdown-item{text-align:right;}
.mega-dropdown-menu{right:50%;left:0;top:83%;}
	.dropdown-submenu .dropdown-menu {
    top: 0px;left:auto;
    right: 100%;}.dropdown-submenu a::after {
    transform: rotate(-270deg);
    position: absolute;
    left: 17px;right:auto;
    top: 25px;
}.vendor-categories-overlay {
    position: absolute;
    right: 0;
    left: 0;}
	.nice-select:after{left:14px;right:auto;}
	.section-title h2{text-align:center!important;}
	.nice-select.wide {
    width: 100%;
    text-align: right!important;
}.form-control {
    text-align: right;}
	.venue-form-calendar {
    position: absolute;
    bottom: 25px;
    left: 30px;right:auto;
    color: #6e6a6b;}
}
	#return-to-top i {
    color: #fff;
    margin: 0;left:-8px;
    position: relative;
    right: 11px;}
	
	
	@media only screen and (max-width: 768px){
	.float-right {
     float: right!important; 
}
.dashboard-content {
    margin-left: auto;margin-right:auto;
}}